body {
  background: white;
  color: #404040;
  font-size: 11pt;
  font-family: Georgia, Garamond, sans-serif;
}
a {
  color: #A4A400;
}
h1, h2 {
  color: #A4A400;
  background-color: #F0F0F0;
  font-family: Lucida Sans Unicode, Helvetica, Arial,sans-serif;
}

h1 {
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-size: 18pt;
  font-weight: normal;
  text-decoration: underline;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.strikethrough {
  text-decoration: line-through;
}

blockquote {
  background-color: #FFDD00;
  font-style: italic;
}
